cn2an==0.5.22
deepfilternet==0.5.6
eng_to_ipa==0.0.2
faster_whisper==0.9.0
ffmpeg_python==0.2.0
gradio==4.38.1
inflect==7.0.0
jieba==0.42.1
langid==1.1.6
librosa==0.9.1
moviepy==1.0.3
numpy==1.23.0
openai_whisper==20231117
pydub==0.25.1
pypinyin==0.50.0
setuptools==69.5.1
soundfile==0.12.1
torch==2.3.1
translators==5.9.2
unidecode==1.3.7
wavmark==0.0.3
whisper_timestamped==1.14.2
pytubefix==6.10.2
git+https://github.com/myshell-ai/MeloTTS.git@main#egg=MeloTTS